" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader = " "

" Replace word under cursor
nnoremap <leader>r :%s/\<<C-r><C-w>\>/<C-r><C-w>/gI<Left><Left><Left>

" Keep screen center
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzzzv
nnoremap N Nzzzv

" Save file
nnoremap <C-s> :w<CR>

" Indentation
vnoremap < <gv
vnoremap > >gv

set nu
set relativenumber
set scrolloff=10
set linebreak
set ignorecase
set smartcase
set showmode
set showcmd
set incsearch
set visualbell
set hlsearch
set clipboard=unnamedplus

set ideajoin

map <leader>fo <Action>(ReformatCode)
map <leader>ff <Action>(GotoFile)

nmap <S-k> <Action>(ShowHoverInfo)
nmap <C-Enter> <Action>(ShowIntentionActions)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

" Comments
nmap <C-/> <Action>(CommentByLineComment)
vmap gc <Action>(CommentByLineComment)

" Regions
nmap <leader>[ <Action>(CollapseRegion)
nmap <leader>] <Action>(ExpandRegion)

" Move lines
vmap J <Action>(MoveLineDown)
vmap K <Action>(MoveLineUp)

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
