/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------------------- */

/* TODO: define a better color pallete */

/* Reds and Orange */
/* @define-color primary #e57373; */
/* @define-color secondary #f6e58d; */
/* @define-color accent #ffab91; */

/* Blues and Purple */
@define-color primary #64b5f6;
@define-color secondary #b39ddb;
@define-color accent #bb9af7;

@define-color fg_primary #cfd8dc;
@define-color bg_primary #0a0b10;
@define-color bg_alpha rgba(0, 0, 0, 0.7);
@define-color muted #565f89;

@define-color workspace_active #3584e8;
@define-color workspace_inactive #3a3a4a;
@define-color workspace_hover #6b8ba6;


/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    color: @fg_primary;
    background-color: @bg_alpha;
    font-family: "Symbols Nerd Font", "Symbols Nerd Font Mono", monospace;
    font-weight: bold;
    font-size: 13px;
}

/* Every modules */
#mode,
#network,
#custom-keyboard-layout,
#idle_inhibitor,
#cpu,
#memory,
#backlight,
#pulseaudio,
#battery,
#clock,
#tray {
    padding:0.5rem 0.2rem;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-launcher {
    margin-left:15px;
    margin-right:10px;
    color: @primary;
}

#workspaces {
    font-size:13px;
    margin: 0 2px;
}

#workspaces button {
    background-color: transparent;
    color: @fg_primary;
    padding: 1px;
    margin-right: 2px;
    margin-left: 2px;
}

#workspaces button.focused {
    color: @secondary;
    border: none;
}

#workspaces button.urgent {
    color: #c9545d;
}

#workspaces button:hover {
    background: transparent;
    color: @primary;
    border: none;
    outline: none;
    box-shadow: none;
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#mode {
    background: @primary;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding: 7px;
}

#window {
    font-weight: bold;
}

#network.disconnected {
    color: orange;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#backlight.icon {
}

#pulseaudio {
}

#pulseaudio.muted {
    color: @muted;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#custom-power {
    margin-left:15px;
    margin-right:15px;
    font-size:15px;
    color: @primary;
}

#clock {
    color: @secondary;
}

tooltip {
    background: @bg_primary;
    opacity: 0.95;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    color: @fg_primary;
    border-color: @accent;
}
